<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>Messenger</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../css/chats.css"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"/>
  <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css"/>
</head>
<body>
  <div class="main-wrapper">
    <div class="container">
      <div class="page-content">
        <div class="container mt-5">
          <div class="row">
            <div class="col-md-4 col-12 card-stacked">
              <div class="card shadow-line mb-3 chat">
                <div class="chat-user-detail">
                
                 
                </div>
                
                
                
                <div class="chat-user-panel" id="chatrooms">
                 
                </div>
              </div>
            </div>
            <div class="col-md-8 col-12 card-stacked">
              <div class="card shadow-line mb-3 chat chat-panel">
                
                <div class="d-flex flex-row mb-3 navigation-mobile scrollable-chat-panel chat-panel-scroll" id="messages">
                  
                </div>
                <div class="chat-search pl-3 pr-3">
                  <div class="input-group">
                    <form onsubmit="createTextMessage()" >
                    <input type="text" class="form-control" placeholder="Write a message" id="textMessage">
                    <div class="input-group-append prepend-white">
                      <span class="input-group-text pl-2 pr-2">
                        
                        
                        
                        <i class="fs-19 bi bi-cursor ml-2 mr-2" type="submit"></i>
                       
                      </span>
                    </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.7/js/min/perfect-scrollbar.jquery.min.js"></script>
  <script src="../js/chats.js"></script>
  
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    axios.get("http://127.0.0.1:3000/getChatRooms?userId=64626fe5d7b6aa16fabe1088")
    .then((res)=>{
      chats = res.data.chats;
      console.log(chats);
      //const parent = document.getElementById("chatrooms")
      document.getElementById("chatrooms").innerHTML += chats.map((item)=>`
      
                   <div class="chat-item active d-flex pl-3 pr-0 pt-3 pb-3">
                     <div class="w-100">
                       <div class="d-flex pl-0">
                         
                         <div>
                           <p class="margin-auto fw-400 text-dark-75"><a href="#" onclick="getMessages('${item.id}'); return false;">${item.name}</a></p>
                           <div class="d-flex flex-row mt-1">
                             <span>
                               <div class="svg15 double-check"></div>
                             </span>
                             
                           </div>
                         </div>
                       </div>
                     </div>
                     <div class="flex-shrink-0 margin-auto pl-2 pr-3">
                       <div class="d-flex flex-column">
                         
                        
                       </div>
                     </div>
                   </div>
                 </div>`).join("");
                })
    .catch((err)=>{console.log(err.message);});
    function createTextMessage(){
      

    }
    function getMessages(id){
      fetch(`http://localhost:3000/getMessages?userId=64626fe5d7b6aa16fabe1088&contactId=${id}`,{
        body: null,
        method: 'GET'
      })
      // axios.get(`http://localhost:3000/getMessages?userId=64626fe5d7b6aa16fabe1088&contactId=${id}`)
      .then((res)=>{
        console.log(res);
        const messages = JSON.parse(res.messages);
        console.log(messages);
        document.getElementById("messages").innerHTML += messages.map((item)=>`<div class="w-100 p-3">
                    <div class="svg36 loader-animate3 horizontal-margin-auto mb-2"></div>
                    <div class="text-center letter-space drop-shadow text-uppercase fs-12 w-100 mb-3">Today</div>
                    <div class="left-chat-message fs-13 mb-2">
                      <p class="mb-0 mr-3 pr-4">${item.text}</p>
                      <div class="message-options">
                        <div class="message-time">06:15</div>
                        <div class="message-arrow"><i class="text-muted la la-angle-down fs-17"></i></div>
                      </div>
                    </div>
                    <div class="d-flex flex-row-reverse mb-2">
                      <div class="right-chat-message fs-13 mb-2">
                        <div class="mb-0 mr-3 pr-4">
                          <div class="d-flex flex-row">
                            <div class="pr-2">Hey, Beate</div>
                            <div class="pr-4"></div>
                          </div>
                        </div>
                        <div class="message-options dark">
                          <div class="message-time">
                            <div class="d-flex flex-row">
                              <div class="mr-2">06:49</div>
                              <div class="svg15 double-check"></div>
                            </div>
                          </div>
                          <div class="message-arrow"><i class="text-muted la la-angle-down fs-17"></i></div>
                        </div>
                      </div>
                    </div>
                  </div>`).join("");
      })
      .catch((err)=>{console.log("error:",err);});
    }
  </script>
</body>
</html>